
.contador{
    display: flex;
    justify-content: space-evenly;
  }
  
  #grilla{
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
  }
  