
.contador{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
#listaProd {
 flex-wrap: wrap;
 display: flex;
 margin: 10px;
 background-color: red;
}  

#cardGrilla {
  margin: 2px;
  display: flex;
  margin: 5%;
  display: flex;
  justify-content: space-between;
}

.card {
  margin: 2%
}

#cardposition{
  display: flexbox;
  text-align: center;
}