.Difusores {
  background-color: #d5bdaf;
  text-align: center;
  color: white;
  display: block;
  font-family: "Times New Roman", Times, serif;
  text-shadow: black 0.1em 0.1em 0.2em;
}

#nav {
  box-shadow: 6px 11px 13px 0px rgba(202, 255, 231, 0.2);
  -webkit-box-shadow: 6px 11px 13px 0px rgba(202, 255, 231, 0.2);
  -moz-box-shadow: 6px 11px 13px 0px rgba(202, 255, 231, 0.2);
}
.corner-ribbon {
  position: relative;
}

.corner-ribbon__inner {
  /* Displayed at the top left corner */
  left: 0px;
  position: absolute;
  top: 0px;

  /* Size */
  height: 4rem;
  width: 4rem;

  /* Hide the part of its children which is displayed outside */
  overflow: hidden;
}

.corner-ribbon__ribbon {
  /* Position */
  left: 1rem;
  position: absolute;
  top: 1rem;

  /* Size */
  height: 1.5rem;
  width: 5.656rem;

  /* Displayed diagonally */
  transform: translate(-38px, -8px) rotate(-45deg);

  /* Background color */
  background-color: rgb(175, 168, 168);

  /* Centerize the text content */
  text-align: center;
}
