body {
  font-family: serif;
}

.leftAlign {
  text-align: left;
}

button {
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  width: auto;
  height: auto;
}

.marginbottom {
  margin-bottom: 20px;
}
